<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Remark</key>
	<string>白色皮肤</string>
	<key>ColorID</key>
	<dict>
		<key>F1F1F1</key>
		<string>#F1F1F1</string>
		<key>EDEDED</key>
		<string>#EDEDED</string>
		<key>BDBDBD</key>
		<string>#BDBDBD</string>
		<key>E3B357</key>
		<string>#E3B357</string>
		<key>F0F0F0</key>
		<string>#F0F0F0</string>
		<key>ABABAB</key>
		<string>#ABABAB</string>
		<key>000000</key>
		<string>#000000</string>
		<key>F4F4F4</key>
		<string>#F4F4F4</string>
		<key>444D54</key>
		<string>#444D54</string>
		<key>3F4850</key>
		<string>#3F4850</string>
		<key>E0514C</key>
		<string>#E0514C</string>
		<key>F7F5F3</key>
		<string>#F7F5F3</string>
		<key>FDF6F6</key>
		<string>#FDF6F6</string>
		<key>FFD667</key>
		<string>#FFD667</string>
		<key>F9FAF9</key>
		<string>#F9FAF9</string>
		<key>9B9B9B</key>
		<string>#9B9B9B</string>
		<key>F2F2F2</key>
		<string>#F2F2F2</string>
		<key>848484</key>
		<string>#848484</string>
		<key>454F55</key>
		<string>#454F55</string>
		<key>FFFFFF</key>
		<string>#FFFFFF</string>
		<key>585858</key>
		<string>#585858</string>
		<key>FFFBFB</key>
		<string>#FFFBFB</string>
		<key>FFC356</key>
		<string>#FFC356</string>
		<key>EF4034</key>
		<string>#EF4034</string>
		<key>333333</key>
		<string>#333333</string>
		<key>F5F5F5</key>
		<string>#F5F5F5</string>
		<key>3399FF</key>
		<string>#3399FF</string>
		<key>606060</key>
		<string>#606060</string>
		<key>E9E9E9</key>
		<string>#E9E9E9</string>
		<key>909090</key>
		<string>#909090</string>
		<key>474C50</key>
		<string>#474C50</string>
		<key>FFF5E1</key>
		<string>#FFF5E1</string>
		<key>E93333</key>
		<string>#E93333</string>
		<key>ED4138</key>
		<string>#ED4138</string>
		<key>E1514C</key>
		<string>#E1514C</string>
		<key>EF4035</key>
		<string>#EF4035</string>
		<key>E1E1E1</key>
		<string>#E1E1E1</string>
		<key>FDF1F1</key>
		<string>#FDF1F1</string>
		<key>FFDC9A</key>
		<string>#FFDC9A</string>
		<key>64696c</key>
		<string>#64696c</string>
		<key>C0C0C0</key>
		<string>#C0C0C0</string>
		<key>DDDDDD</key>
		<string>#DDDDDD</string>
		<key>D7D7D7</key>
		<string>#D7D7D7</string>
		<key>E6E6E6</key>
		<string>#E6E6E6</string>
		<key>F6F6F6</key>
		<string>#F6F6F6</string>
		<key>F7F7F7</key>
		<string>#F7F7F7</string>
		<key>FAB32B</key>
		<string>#FAB32B</string>
		<key>FFEEEE</key>
		<string>#FFEEEE</string>
		<key>FFFAFA</key>
		<string>#FFFAFA</string>
		<key>404549</key>
		<string>#404549</string>
	</dict>
</dict>
</plist>
